In [127]:
#Import packages
import pandas as pd

In [128]:
#Create file_path
file_path = 'c:/users/joshu/analytics/bootcamp/myrepo/python-challenge/PyPoll/Resources/election_data.csv'
file_path

'c:/users/joshu/analytics/bootcamp/myrepo/python-challenge/PyPoll/Resources/election_data.csv'

In [129]:
#Create dataframe
df = pd.read_csv(file_path)
df.columns

Index(['Ballot ID', 'County', 'Candidate'], dtype='object')

In [130]:
#Identify unique count of candidates in dataset
unique_candidate_list = df['Candidate'].unique()
unique_candidate_list

array(['Charles Casper Stockham', 'Diana DeGette', 'Raymon Anthony Doane'],
      dtype=object)

In [131]:
#Identify the count of votes each candidate won
candidate_vote_total = df.groupby('Candidate').count()
candidate_vote_total

                         Ballot ID  County
Candidate
Charles Casper Stockham      85213   85213
Diana DeGette               272892  272892
Raymon Anthony Doane         11606   11606

In [132]:
#Add new Vote Total column
candidate_vote_total['Vote Total'] = candidate_vote_total['County']
candidate_vote_total

                         Ballot ID  County  Vote Total
Candidate
Charles Casper Stockham      85213   85213       85213
Diana DeGette               272892  272892      272892
Raymon Anthony Doane         11606   11606       11606

In [133]:
#Add new Grand Vote Total
candidate_vote_total['Grand Vote Total'] = candidate_vote_total['County'].sum()
candidate_vote_total

                         Ballot ID  County  Vote Total  Grand Vote Total
Candidate
Charles Casper Stockham      85213   85213       85213            369711
Diana DeGette               272892  272892      272892            369711
Raymon Anthony Doane         11606   11606       11606            369711

In [134]:
#Identify % of votes each candidate won
candidate_vote_total['Percent of Vote (%)'] = candidate_vote_total['Vote Total'] / candidate_vote_total['Grand Vote Total'] * 100
candidate_vote_total

,Ballot ID,County,Vote Total,Grand Vote Total,Percent of Vote (%)
Candidate,,,,,
Charles Casper Stockham,85213,85213,85213,369711,23.048543
Diana DeGette,272892,272892,272892,369711,73.812248
Raymon Anthony Doane,11606,11606,11606,369711,3.139209

In [135]:
#Identify the max(vote total)
max_value = candidate_vote_total['Vote Total'].max()
max_value

272892

In [136]:
#Identify the winner
winner = candidate_vote_total.loc[candidate_vote_total['Vote Total'] == max_value,].reset_index()
winner2 = winner.iloc[0,0]
winner2

'Diana DeGette'

In [137]:
#Print the winning message
print('Election Results')
print('-----------------')
print('Total Vote: ' + str(candidate_vote_total['Grand Vote Total'].max()))
print('-----------------')
print(candidate_vote_total.iloc[:,[4,2]] )
print('-----------------')
print('Winner: ' + winner2 )

Election Results
-----------------
Total Vote: 369711
-----------------
                         Percent of Vote (%)  Vote Total
Candidate
Charles Casper Stockham            23.048543       85213
Diana DeGette                      73.812248      272892
Raymon Anthony Doane                3.139209       11606
-----------------
Winner: Diana DeGette